# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [6]:
import pandas as pd

pd.set_option('display.float_format', lambda x: '%.5f' % x) # отображать exp формат в float

In [7]:
recipes = pd.read_csv("./recipes_sample.csv")

recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.00000
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.00000
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.00000,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.00000,this is based on a french recipe but i changed...,10.00000
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.00000
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.00000,"i've heard of the 'cookies by design' company,...",10.00000

In [8]:
reviews = pd.read_csv("./reviews_sample.csv")

reviews.set_index("Unnamed: 0", inplace=True, drop=True) # корректные индексы таблицы Reviews

reviews

,user_id,recipe_id,date,rating,review
Unnamed: 0,,,,,
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [9]:
# Кол-во строк
reviews.count()

user_id      126696
recipe_id    126696
date         126696
rating       126696
review       126679
dtype: int64

In [10]:
recipes.count()

name              30000
id                30000
minutes           30000
contributor_id    30000
submitted         30000
n_steps           18810
description       29377
n_ingredients     21120
dtype: int64

In [11]:
# Кол-во столбцов
len(reviews.columns)

5

In [12]:
len(recipes.columns)

8

In [13]:
# Типы данных
reviews.dtypes

user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

In [14]:
recipes.dtypes

name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [15]:
for column in recipes.columns:
  print(f"Recipes столбец: {column}, доля пропущенных: {recipes[column].isna().sum() / recipes.count()[column]}")

print(f"Recipes общая пропущенных строк: {recipes.isna().sum().sum() / recipes.count().sum()}\n")

for column in reviews.columns:
  print(f"Reviews столбец: {column}, доля пропущенных: {reviews[column].isna().sum() / reviews.count()[column]}")

print(f"Reviews общая пропущенных строк: {format(reviews.isna().sum().sum() / reviews.count().sum(), '.8f')}")

Recipes столбец: name, доля пропущенных: 0.0
Recipes столбец: id, доля пропущенных: 0.0
Recipes столбец: minutes, доля пропущенных: 0.0
Recipes столбец: contributor_id, доля пропущенных: 0.0
Recipes столбец: submitted, доля пропущенных: 0.0
Recipes столбец: n_steps, доля пропущенных: 0.594896331738437
Recipes столбец: description, доля пропущенных: 0.02120706675290193
Recipes столбец: n_ingredients, доля пропущенных: 0.42045454545454547
Recipes общая пропущенных строк: 0.09435631329597323

Reviews столбец: user_id, доля пропущенных: 0.0
Reviews столбец: recipe_id, доля пропущенных: 0.0
Reviews столбец: date, доля пропущенных: 0.0
Reviews столбец: rating, доля пропущенных: 0.0
Reviews столбец: review, доля пропущенных: 0.00013419745972102716
Reviews общая пропущенных строк: 0.00002684

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [16]:
recipes.select_dtypes(include=["int64", "float64"]).mean()

id                221879.29400
minutes              123.35813
contributor_id   5635900.57280
n_steps                9.80558
n_ingredients          9.00829
dtype: float64

In [17]:
reviews.select_dtypes(include=["int64", "float64"]).mean()

user_id     140801264.73741
recipe_id      160094.38706
rating              4.41080
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [18]:
random_series = recipes["name"].sample(10)

random_series

13647              herbal mustard cream sauce
22855                 roasted tomatillo salsa
23739                        sea bass ceviche
22359                        red river burger
11050                         fish pot au feu
24657        smothered chicken in onion gravy
6878     christine s stuffed bell pepper soup
9326     delicious veggie italian pasta salad
12656          green bean stuffed portabellas
6190                           chile egg puff
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [19]:
reviews = reviews.reset_index(drop=True)

reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [20]:
recipes[(recipes["minutes"] <= 20) * (recipes["n_ingredients"] <= 5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.00000,this is a wonderful quick bread to make as an ...,5.00000
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.00000
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.00000,pineapple mimosa was changed to hawaiian sunri...,3.00000
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.00000
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.00000
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.00000,"i haven't tried this yet, but i am going to so...",5.00000
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.00000,a fun thing for kids to do. may want to use mi...,3.00000
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.00000,from betty crocker fresh spring recipes. i lik...,5.00000
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.00000,simple and yummy!,3.00000
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.00000,"this dish is from tim malzer, a german chef wh...",5.00000

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [21]:
recipes["submitted"] = pd.to_datetime(recipes["submitted"], format="%Y-%m-%d")

recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.00000
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.00000
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.00000,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.00000,this is based on a french recipe but i changed...,10.00000
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.00000
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.00000,"i've heard of the 'cookies by design' company,...",10.00000

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [22]:
recipes[recipes["submitted"] <= "2010"]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.00000
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.00000
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.00000,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.00000
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.00000,this is based on a french recipe but i changed...,10.00000
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.00000
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.00000,"i've heard of the 'cookies by design' company,...",10.00000

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [23]:
recipes["description_length"] = recipes["description"].str.len()

recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.00000,330.00000
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.00000
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.00000,39.00000
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.00000
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.00000,i think a fondue is a very romantic casual din...,NaN,587.00000
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.00000,this is based on a french recipe but i changed...,10.00000,484.00000
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.00000,286.00000
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.00000
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.00000
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.00000,"i've heard of the 'cookies by design' company,...",10.00000,125.00000

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [24]:
recipes["name"] = recipes["name"].str.capitalize()  # lower()

recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.00000,330.00000
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.00000
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.00000,39.00000
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.00000
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.00000,i think a fondue is a very romantic casual din...,NaN,587.00000
...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.00000,this is based on a french recipe but i changed...,10.00000,484.00000
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.00000,286.00000
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.00000
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.00000
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.00000,"i've heard of the 'cookies by design' company,...",10.00000,125.00000

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [25]:
recipes["name_word_count"] = [len(x.split()) for x in recipes["name"]]  # recipes["name"].str.split().str.len()

recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.00000,330.00000,8
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.00000,5
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.00000,39.00000,7
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.00000,3
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.00000,i think a fondue is a very romantic casual din...,NaN,587.00000,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.00000,this is based on a french recipe but i changed...,10.00000,484.00000,8
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.00000,286.00000,4
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.00000,5
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.00000,2
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.00000,"i've heard of the 'cookies by design' company,...",10.00000,125.00000,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [26]:
recipes.groupby("contributor_id")["name"].count()

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: name, Length: 8404, dtype: int64

In [27]:
max_participant = recipes.groupby("contributor_id")["name"].count().idxmax()  # contributor_id участника с наибольших кол-вом рецептов

max_participant_quantity = recipes.groupby("contributor_id")["name"].count()[max_participant]  # сколько рецептов он добавил

print(f"Contributor_id участника с наибольших кол-вом рецептов: {max_participant}\n"
      f"Он добавил: {max_participant_quantity} рецептов")

Contributor_id участника с наибольших кол-вом рецептов: 89831
Он добавил: 421 рецептов

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [28]:
recipes_with_reviews_inner = pd.merge(recipes, reviews, left_on="id", right_on="recipe_id")

recipes_with_reviews_inner # Все рецепты с имеющимися отзывами

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count,user_id,recipe_id,date,rating,review
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.00000,330.00000,8,743566,44123,2008-01-28,5,I lived in San Diego for 19 years and would g...
1,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.00000,330.00000,8,76503,44123,2003-06-03,5,This soup is the Bomb! Don't hesitate to try.....
2,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.00000,330.00000,8,34206,44123,2003-03-23,5,I just can't say enough about how wonderful th...
3,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.00000,5,494084,67664,2012-09-26,5,These are great! I use 100% (organic) juice a...
4,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.00000,5,303445,67664,2012-03-31,5,"Very, very good. My son loves these. He like..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126691,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.00000,2,305531,486161,2013-07-18,5,Delish! I made this as directed but used a smo...
126692,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.00000,2,1271506,486161,2012-09-10,5,Now the only substitution I made was African B...
126693,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.00000,2,724631,486161,2014-01-07,5,"Very tasty soup, moderate spiciness (even afte..."
126694,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.00000,2,133174,486161,2013-07-18,5,Very yummy indeed. A spicy sausage was used i...
126695,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.00000,"i've heard of the 'cookies by design' company,...",10.00000,125.00000,7,804234,298512,2008-05-02,1,I would rate this a zero if I could. I followe...

In [29]:
recipes_with_reviews_inner.groupby("recipe_id")["rating"].mean() # Средний рейтинг каждого из рецептов

recipe_id
48       1.00000
55       4.75000
66       4.94444
91       4.75000
94       5.00000
           ...
536547   5.00000
536610   0.00000
536728   4.00000
536729   4.75000
536747   0.00000
Name: rating, Length: 28100, dtype: float64

In [30]:
recipes_with_reviews = pd.merge(recipes, reviews, left_on="id", right_on="recipe_id", how="outer")

recipes_with_reviews # Все рецепты, включая те, которые без отзывов

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count,user_id,recipe_id,date,rating,review
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.00000,330.00000,8,743566.00000,44123.00000,2008-01-28,5.00000,I lived in San Diego for 19 years and would g...
1,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.00000,330.00000,8,76503.00000,44123.00000,2003-06-03,5.00000,This soup is the Bomb! Don't hesitate to try.....
2,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.00000,330.00000,8,34206.00000,44123.00000,2003-03-23,5.00000,I just can't say enough about how wonderful th...
3,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.00000,5,494084.00000,67664.00000,2012-09-26,5.00000,These are great! I use 100% (organic) juice a...
4,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.00000,5,303445.00000,67664.00000,2012-03-31,5.00000,"Very, very good. My son loves these. He like..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128591,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.00000,2,305531.00000,486161.00000,2013-07-18,5.00000,Delish! I made this as directed but used a smo...
128592,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.00000,2,1271506.00000,486161.00000,2012-09-10,5.00000,Now the only substitution I made was African B...
128593,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.00000,2,724631.00000,486161.00000,2014-01-07,5.00000,"Very tasty soup, moderate spiciness (even afte..."
128594,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.00000,2,133174.00000,486161.00000,2013-07-18,5.00000,Very yummy indeed. A spicy sausage was used i...
128595,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.00000,"i've heard of the 'cookies by design' company,...",10.00000,125.00000,7,804234.00000,298512.00000,2008-05-02,1.00000,I would rate this a zero if I could. I followe...

In [31]:
recipes_with_reviews_diff = pd.concat([recipes_with_reviews, recipes_with_reviews_inner]).drop_duplicates(keep=False)

len(recipes_with_reviews_diff.groupby("id")) # Кол-во рецептов без отзывов

1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [32]:
recipes.groupby(recipes["submitted"].dt.year).count()["name"]

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: name, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [33]:
merged_dataframe = pd.merge(recipes, reviews, left_on="id", right_on="recipe_id", how="inner")[["id", "name", "user_id", "rating"]]

merged_dataframe

            id                                    name  user_id  rating
0        44123   George s at the cove  black bean soup   743566       5
1        44123   George s at the cove  black bean soup    76503       5
2        44123   George s at the cove  black bean soup    34206       5
3        67664      Healthy for them  yogurt popsicles   494084       5
4        67664      Healthy for them  yogurt popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco soup   305531       5
126692  486161                             Zydeco soup  1271506       5
126693  486161                             Zydeco soup   724631       5
126694  486161                             Zydeco soup   133174       5
126695  298512  Cookies by design   cookies on a stick   804234       1

[126696 rows x 4 columns]

In [34]:
# Проверка: ID рецепта без отзывов = 223349

merged_dataframe[merged_dataframe["id"] == 223349]

Empty DataFrame
Columns: [id, name, user_id, rating]
Index: []

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [35]:
merged_dataframe_2 = pd.merge(recipes, reviews, left_on="id", right_on="recipe_id", how="outer")

merged_dataframe_2 = merged_dataframe_2.groupby("id").count()

merged_dataframe_2

,name,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count,user_id,recipe_id,date,rating,review
id,,,,,,,,,,,,,,
48,2,2,2,2,2,0,2,0,2,2,2,2,2,2
55,4,4,4,4,0,0,4,0,4,4,4,4,4,4
66,18,18,18,18,0,18,18,18,18,18,18,18,18,18
91,4,4,4,4,0,4,0,4,4,4,4,4,4,4
94,4,4,4,4,4,0,0,0,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536547,1,1,1,1,1,1,1,1,1,1,1,1,1,1
536610,1,1,1,1,1,1,0,1,1,1,1,1,1,1
536728,1,1,1,1,0,1,1,1,1,1,1,1,1,1
536729,4,4,4,4,4,4,0,4,4,4,4,4,4,4
536747,4,4,4,4,4,4,4,4,4,4,4,4,4,4

In [36]:
# Новый dataframe для извлечения названий рецептов при группировке по id
outer_merged_dataframe = pd.merge(recipes, reviews, left_on="id", right_on="recipe_id", how="outer")

outer_merged_dataframe.groupby("id").first()["name"]

id
48                                  Boston cream pie
55        Betty crocker s southwestern guacamole dip
66                       Black coffee barbecue sauce
91                    Brown rice and vegetable pilaf
94                             Blueberry buttertarts
                             ...
536547                           Cauliflower ceviche
536610                 Miracle home made puff pastry
536728                         Gluten free  vegemite
536729                  Creole watermelon feta salad
536747                            Lemon pom pom cake
Name: name, Length: 30000, dtype: object

In [37]:
# получаем названия рецепта, сохранив значение при группировке методом .first()
merged_dataframe_2["name"] = outer_merged_dataframe.groupby("id").first()["name"]

merged_dataframe_2 = merged_dataframe_2.reset_index()[["id", "name", "review"]]

merged_dataframe_2 = merged_dataframe_2.rename(columns={"id": "recipe_id", "review": "review_count"})

merged_dataframe_2

       recipe_id                                        name  review_count
0             48                            Boston cream pie             2
1             55  Betty crocker s southwestern guacamole dip             4
2             66                 Black coffee barbecue sauce            18
3             91              Brown rice and vegetable pilaf             4
4             94                       Blueberry buttertarts             4
...          ...                                         ...           ...
29995     536547                         Cauliflower ceviche             1
29996     536610               Miracle home made puff pastry             1
29997     536728                       Gluten free  vegemite             1
29998     536729                Creole watermelon feta salad             4
29999     536747                          Lemon pom pom cake             4

[30000 rows x 3 columns]

In [38]:
# Проверка: ID рецепта без отзывов = 223349
merged_dataframe_2[merged_dataframe_2["recipe_id"] == 223349]

       recipe_id                           name  review_count
16052     223349  Pasta  with shrimp   eggplant             0

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [39]:
merged_dataframe_3 = pd.merge(recipes, reviews, left_on="id", right_on="recipe_id") # Все рецепты с отзывами

rating_by_year = merged_dataframe_3.groupby(merged_dataframe_3["submitted"].dt.year)["rating"].mean()

rating_by_year

submitted
1999   4.27489
2000   4.28458
2001   4.39395
2002   4.40465
2003   4.43915
2004   4.46378
2005   4.40969
2006   4.41631
2007   4.42007
2008   4.38742
2009   4.36045
2010   4.40628
2011   4.37585
2012   4.41274
2013   4.33651
2014   4.53824
2015   4.20732
2016   3.53846
2017   2.75000
2018   3.38889
Name: rating, dtype: float64

In [40]:
# В каком году рецепты имеют наименьший рейтинг
rating_by_year.idxmin()

2017

### Сохранение таблиц `pd.DataFrame`|

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [42]:
sorted_recipes = recipes.sort_values("name_word_count", ascending=False)

sorted_recipes.to_csv("./sorted_recipes.csv", encoding="utf-8")

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [44]:
with pd.ExcelWriter("./excel_merged.xlsx") as writer:
    merged_dataframe.to_excel(writer, sheet_name="Рецепты с оценками")
    merged_dataframe_2.to_excel(writer, sheet_name="Количество отзывов по рецептам")