Задачи по Pandas

V 0.1 24.09.2020

Датасеты:
* addres-book.json
* addres-book.xml
* addres-book-q.xml

# JSON

* Работаем с файлом addres-book.json

1) Вывести все адреса электронной почты, содржащиеся в адресной книге, имеющей структуру, аналогичную my_ab2.

In [25]:
import pandas as pd

df = pd.read_json("addres-book.json")

df['email']

0     faina@mail.ru
1    robert@mail.ru
Name: email, dtype: object

2) Вывести телефоны, содржащиеся в адресной книге, имеющей структуру, аналогичную my_ab2.

In [76]:
for i, plist in enumerate(df["phones"]):
    print(i, end=" ---\n")
    for dphon in plist:
        print("| " + dphon["phone"]  + " | ")
    print("-----")

0 ---
| 232-19-55 |
| +7 (916) 232-19-55 |
-----
1 ---
| 111-19-55 |
| +7 (916) 445-19-55 |
-----

3) Изменить структуру данных my_ab2 так, чтобы для телефонов был однозначно известен их тип. Создать пример записи с обновленной структурой данных. Вывести все домашние телефоны, содржащиеся в созданном примере.

In [ ]:
import re

df2 = df.copy()

for i, plist in enumerate(df2["phones"]):
    for dphon in plist:
        if re.search("(\+7)|(8).*\(...\)", dphon["phone"]):
            dphon["type"]="mobil"
        else:
            dphon["type"]="city"

df2["phones"]

In [13]:
re.search("(\+7).*\(...\)|(8).*\(...\)","8(916) 232-19-55")

3.2) Изменить структуру данных my_ab2 так, чтобы для каждой записи в адресной книге можно было записать список друзей этого человека, присутствующих в этой же адреснойЯфыыв.

In [5]:
df3 = df.copy()
df3['friends'] = pd.Series([[] for i in range(len(df3))], index=df3.index)
df3['friends'][0].append("Robert Lee")
df3['friends'][1].append("Faina Lee")
df3

,name,email,birthday,phones,friends
0,Faina Lee,faina@mail.ru,22.08.1994,"[{'phone': '232-19-55'}, {'phone': '+7 (916) 2...",[Robert Lee]
1,Robert Lee,robert@mail.ru,22.08.1994,"[{'phone': '111-19-55'}, {'phone': '+7 (916) 4...",[Faina Lee]

4) Написать функцию, которая формирует новую запись в телефонной книге, запрашивая у пользователя поочередно все необходимые поля.

In [27]:
df4 = df.copy()
def new_user():
  global df4
  columns = df.columns
  name = input("name:>")
  email = input("email:>")
  birthday = input("birthday:>")
  print("phones:")
  city = input("city:>")
  mobil = input("mobil:>")
  row_list = df4.to_dict(orient="records")
  dict1 = {
    "name": name,
    "email": email,
    "birthday": birthday,
    "phones": [
      {
        "phone": city
      },
      {
       "phone": mobil
      }
    ]}
  row_list.append(dict1)
  df4 = pd.DataFrame(row_list, columns=columns)
new_user()
df4

phones:

,name,email,birthday,phones
0,Faina Lee,faina@mail.ru,22.08.1994,"[{'phone': '232-19-55'}, {'phone': '+7 (916) 2..."
1,Robert Lee,robert@mail.ru,22.08.1994,"[{'phone': '111-19-55'}, {'phone': '+7 (916) 4..."
2,Nik,1,2,"[{'phone': '3'}, {'phone': '4'}]"

5) Написать функцию, которая ищет по имени в хранящейся в файле телефонной книге запись о человеке и выводит информацию о нем в виде текста, где в каждой строке указывается тип выводимого поля и его содержимое.

In [84]:

def find_user(name):
    columns_len =  max([len(i) for i in df.columns])
    
    for user in df[df["name"] == name].to_dict(orient="records"):
        for column, value in user.items():
            print(str(column).ljust(columns_len, " "), end=" ")
            if type(value) in [str, int]:
                print(value)
            else:
                print()
                for item in value:
                    print(" "*(columns_len+1) + "phone " + item["phone"])
                print()

find_user(["Faina Lee", "Robert Lee"])

name     Faina Lee
email    faina@mail.ru
birthday 22.08.1994
phones
         phone 232-19-55
         phone +7 (916) 232-19-55

name     Robert Lee
email    robert@mail.ru
birthday 22.08.1994
phones
         phone 111-19-55
         phone +7 (916) 445-19-55

6) Получить координаты всех отделений связи г. Пущино, имеющих отдельный почтовый индекс, с использованием API 'http://api.zippopotam.us' . (Индексы использыемые в г. Пущино нужно собрать из открытых источников).

# Pickle

1) Сгенирорвать данные, аналогичные структуре ddres-book.json с 1000 записей.

In [2]:
import pandas as pd
new_json_df = pd.DataFrame()

new_json_df["name"] = [f"Name #{i}" for i in range(1000)]
new_json_df["email"] = [f"random{i}@mail" for i in range(1000)]
new_json_df["birthday"] = [f"01.01.{i+1000}" for i in range(1000)]
new_json_df["phones"] = [f"123-123-11" for i in range(1000)]

new_json_df

          name           email    birthday      phones
0      Name #0    random0@mail  01.01.1000  123-123-11
1      Name #1    random1@mail  01.01.1001  123-123-11
2      Name #2    random2@mail  01.01.1002  123-123-11
3      Name #3    random3@mail  01.01.1003  123-123-11
4      Name #4    random4@mail  01.01.1004  123-123-11
..         ...             ...         ...         ...
995  Name #995  random995@mail  01.01.1995  123-123-11
996  Name #996  random996@mail  01.01.1996  123-123-11
997  Name #997  random997@mail  01.01.1997  123-123-11
998  Name #998  random998@mail  01.01.1998  123-123-11
999  Name #999  random999@mail  01.01.1999  123-123-11

[1000 rows x 4 columns]

2) Сохранить результаты з.1 в файл Pickle и в файл JSON. Сравнить объемы получившихся файлов.

In [5]:
import pickle

pickle.dump(new_json_df, open("./pickle_dump", "wb"))

new_json_df.to_json("./json_dump.json")

3) Сравнить время записи / чтения данных в форматах Pickle и JSON из з.2

In [8]:
import os

display(f"Pickle {os.stat('./pickle_dump').st_size} байт")
display(f"JSON {os.stat('./json_dump.json').st_size} байт")

'Pickle 47619 байт'

'JSON 78384 байт'

In [10]:
import time
import numpy as np

pickle_times = []

for i in range(10000):

    time_start = time.time()

    pickle.load(open("./pickle_dump", "rb"))

    total_time = time.time() - time_start

    pickle_times.append(total_time)

print(np.mean(pickle_times))

pickle_times_mean = np.mean(pickle_times)

0.00048118174076080324

In [13]:
json_times = []

for i in range(1000):

    time_start = time.time()

    pd.read_json("./addres-book.json")

    total_time = time.time() - time_start

    json_times.append(total_time)

print(np.mean(json_times))

json_times_mean = np.mean(json_times)

print(f"Pickle в среднем быстрее JSON в: {json_times_mean / pickle_times_mean} раз")

0.0028547005653381348
Pickle в среднем быстрее JSON в: 5.932686807326744 раз

4) Преорбазовать структуру данных из ddres-book.json так, чтобы для получения данных о конкретном человеке можно было эффективно использовать возможности модуля shelve.

In [3]:
json_df = pd.read_json("./addres-book.json")

[i for i in json_df["phones"]]

json_file = pd.read_json("./addres-book.json")

json_file["phone_home"] = [[z["phone"] for z in i]for i in json_df["phones"]][0]
json_file["mobile_phone"] = [[z["phone"] for z in i]for i in json_df["phones"]][1]

json_file = json_file.drop("phones", axis=1)

json_file

,name,email,birthday,phone_home,mobile_phone
0,Faina Lee,faina@mail.ru,22.08.1994,232-19-55,111-19-55
1,Robert Lee,robert@mail.ru,22.08.1994,+7 (916) 232-19-55,+7 (916) 445-19-55

In [10]:
import shelve

shelve_file = shelve.open("./shelve_file.db")

for name in json_file["name"]:
    shelve_file[name] = json_file[json_file["name"] == name]

display(shelve_file["Robert Lee"])

shelve_file.close()

,name,email,birthday,phone_home,mobile_phone
1,Robert Lee,robert@mail.ru,22.08.1994,+7 (916) 232-19-55,+7 (916) 445-19-55

In [12]:
shelve_file = shelve.open("./shelve_file.db")
display(shelve_file["Robert Lee"])
shelve_file.close()

,name,email,birthday,phone_home,mobile_phone
1,Robert Lee,robert@mail.ru,22.08.1994,+7 (916) 232-19-55,+7 (916) 445-19-55

In [18]:
with shelve.open("./shelve_file.db") as shelve_file:
    for item in shelve_file.items():
        print(item)

('Faina Lee',         name          email    birthday phone_home mobile_phone
0  Faina Lee  faina@mail.ru  22.08.1994  232-19-55    111-19-55)
('Robert Lee',          name           email    birthday          phone_home  \
1  Robert Lee  robert@mail.ru  22.08.1994  +7 (916) 232-19-55

         mobile_phone
1  +7 (916) 445-19-55  )

# XML

1) По данным из файла addres-book-q.xml сформировать список словарей с телефоноами каждого из людей. Вид результата: [{ФИО: ['телефон1', 'телефон2']}] и вывести его на экран и сохранить в json файле.

In [11]:
import xml.etree.ElementTree as ET
import json

adb = []

tree = ET.parse('addres-book-q.xml')
root = tree.getroot()
print(root.tag)
for country in root:
    print("\t",country.tag, country.attrib)
    for address in country:
        print("\t    ",address.tag, address.attrib)
        phones = address.find("phones")
        for phone in phones:
            print("\t\t",phone.tag, phone.attrib, phone.text)
        adb.append({address.find("name").text:[phone.text for phone in phones]})
        
with open('data.json', 'w') as f:
    json.dump(adb, f)

display(adb)

address_book
	 country {'name': 'algeria'}
	     address {'id': '1'}
		 phone {'type': 'work'} + (213) 6150 4015
		 phone {'type': 'personal'} + (213) 2173 5247
	 country {'name': 'angola'}
	     address {'id': '2'}
		 phone {'type': 'work'} + (244-2) 325 023
		 phone {'type': 'personal'} + (244-2) 325 023
	     address {'id': '3'}
		 phone {'type': 'personal'} + (244) 4232 2836
	     address {'id': '4'}
		 phone {'type': 'work'} + (244-2) 325 023
		 phone {'type': 'personal'} + (244-2) 325 023
	 country {'name': 'argentina'}
	     address {'id': '5'}
		 phone {'type': 'work'} + (54-11) 4784 1159
	 country {'name': 'australia'}
	     address {'id': '6'}
		 phone {'type': 'work'} + (61-2) 6274 9500
		 phone {'type': 'personal'} + (61-2) 6274 9513
	     address {'id': '7'}
		 phone {'type': 'work'} + (61-3) 9807 4702

[{'Aicha Barki': ['+ (213) 6150 4015', '+ (213) 2173 5247']},
 {'Francisco Domingos': ['+ (244-2) 325 023', '+ (244-2) 325 023']},
 {'Maria Luisa': ['+ (244) 4232 2836']},
 {'Abraao Chanda': ['+ (244-2) 325 023', '+ (244-2) 325 023']},
 {'Beatriz Busaniche': ['+ (54-11) 4784 1159']},
 {'Francesca Beddie': ['+ (61-2) 6274 9500', '+ (61-2) 6274 9513']},
 {'Graham John Smith': ['+ (61-3) 9807 4702']}]

2) По данным из файла addres-book-q.xml сформировать список (в виде списка в Python) адресов электронной почты всех женщин и вывести его на экран

In [14]:
mails = []

tree = ET.parse('addres-book-q.xml')
root = tree.getroot()
for country in root:
    for address in country:
        gender = address.find("gender").text
        if gender == "f":
            email = address.find("email")
            mails.append(email.text)
mails

['luisagrilo@ebonet.net', 'f.beddie@ala.asn.au']

3) По данным из файла addres-book-q.xml сформировать список (в виде списка в Python) всех участников с рабочими телефонами и вывести его на экран

In [23]:
idList = []

tree = ET.parse('addres-book-q.xml')
root = tree.getroot()
for country in root:
    for address in country:
        phones = address.find("phones")
        if "work" in [phone.get("type") for phone in phones]:
            idList.append(address.get("id"))

for id in idList:
    print(root.find(f".//*[@id='{id}']").find("name").text)

Aicha Barki
Francisco Domingos
Abraao Chanda
Beatriz Busaniche
Francesca Beddie
Graham John Smith

4) По данным из файла addres-book-q.xml сформировать словарь вида {название страны: количество участников} и вывести его на экран

In [25]:
countryUsers = dict()

tree = ET.parse('addres-book-q.xml')
root = tree.getroot()
for country in root:
    countryUsers[country.get("name")] = len(country)

countryUsers

{'algeria': 1, 'angola': 3, 'argentina': 1, 'australia': 2}

5) Превратить информацию из addres-book.xml в json файл с содержимым вида: [{'birthday': '11.07.1984', 'email': 'bruce@gmail.com', 'name': 'Bruce Lee'},
 {'birthday': '22.03.1985', 'email': 'alee@yandex.ru', 'name': 'Alice Lee'}]

In [34]:
import pandas as pd

df = pd.read_xml("addres-book.xml", )
df.drop(columns=["phones","work"], inplace=True)
display(dictdf:=df.to_dict(orient="records"))

with open('data_2.json', 'w') as f:
    json.dump(dictdf, f)

[{'id': 1,
  'name': 'Bruce Lee',
  'email': 'bruce@gmail.com',
  'birthday': '11.07.1984'},
 {'id': 2,
  'name': 'Alice Lee',
  'email': 'alee@yandex.ru',
  'birthday': '22.03.1985'}]